body{
padding: 0px;
margin: 0px;
background-image: url("http://www.amdyas.com/images/backgroundGradient.jpg");

}

#login_fail{
width: 500px;
height: 150px;
margin: 200px auto 0px auto;
background-color: #F05032;
color:white;
text-align: center;
line-height: 70px;
border-radius: 30px 10px;
}

#login_fail a{
color: blue;
}

#already_friends{
float:left;
height: 230px;
padding: 10px;
width:180px;
margin-top: 50px;
overflow: scroll;
}

#pending_requests{
float:right;
height: 230px;
padding: 10px;
margin-top: 50px;
overflow: scroll;
width:180px;
z-index: 100;
position: absolute;
top: 200px;
left: 800px;
visibility: hidden;

}

#justBut{
font-size:13px;
margin-top: 8px;
margin-left: -19px;
font-family: fantasy;
background-color: #F6546A;
color: #fff;
border-radius: 5px;
}

#smallBut{
font-size:10px;
font-style: bold;
font-family: fantasy;
background-color: #F6546A;
color: #fff;
border-radius: 5px;
}

#friendRequest{
float:left;
height: 230px;
padding: 10px;
width:240px;
margin-top: 50px;
overflow: scroll;
}

#add_friends{
float:right;
height: 230px;
padding: 10px;
margin-top: 50px;
overflow: scroll;
width:180px;
z-index: 50;
visibility: hidden;
}

tr{
background-color: #FFA500;
font-family: cursive;
}

caption{
font-family: cursive;
padding: 7px;
background-color: #FF4444;
color: #fff;
border-radius: 5px;
margin-bottom: 5px;
}

#friendsList{
width:750px;
background-color: #00539E;
margin: 100px auto 0px auto;
text-align: center;
color: #000;
padding: 50px;
height: 400px;
border-radius: 60px;
}

#logout_button_div{
width:900px;
background-color: #00539E;
text-align: center;
margin: 0px auto 0px auto;
padding-bottom: 20px;
}

#user_welcome{
font-family: cursive;
color: #F05032;
font-size: 30px;

}


#logout_button{
font-size: 20px;
font-family: fantasy;
background-color: #C1D72E;
color: #fff;
border-radius: 15px;
}
